.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
}

.title {
  margin-top: 15px;
  font-size: 2em;
  font-family: 'hand-write';
}

.birthdayCake {
  width: 100%;
  margin-bottom: 20px;
}